*{
  background-color: whitesmoke;
  color: black;
}

div {
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons{
  border: 3px solid navy;
  border-radius: 2em;
  margin: auto;
  width: fit-content;
  text-align: center;
}

button {
  margin: 1em;
  width: 10em;
  height: 5em;
  font-size: large;
  border: 3px navy solid;
  border-radius: 1em;
  cursor: pointer;
}

input{
  width: 10em;
  height: 5em;
  font-size: large;
  text-align: center;
  margin: 1em;
  border-radius: 1em;
  border: navy 3px solid
}

.inputs {
  padding-top: 2em;;
}
